/*
* 引入 normalize.css
* @import "./normalize";
*/
@import "./normalize";


/* placeholder 颜色*/
input::-webkit-input-placeholder{color:#999;}
input::-moz-input-placeholder{color:#999;}
input::-ms-input-placeholder{color:#999;}
 
/*
button,input,select,textarea{-webkit-appearance:none;} 	// 去除表单默认样式

// 去掉 android 语音输入按钮
input::-webkit-input-speech-button {display: none}

// 被点击时产生的边框或半透明灰色背景
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}

// 禁止长按时触发系统的菜单
a, img{-webkit-touch-callout:none}

// 禁止用户选中文本
html, body{-webkit-user-select:none}

 */


body {
    font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}

/* 
html{
    overflow-x: hidden;
}
html,body{
    height: 100%;
}
 */

img{
    vertical-align: middle;
}

/* 默认不显示下划线，保持页面简洁 */
ins, a {
    text-decoration: none;
}

*:before, *:after,
.g-flex, .g-flex__item,
.g-cell, .g-cell__bd{
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

.g-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}   
.g-flex__item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.g-cell{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.g-cell__bd{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
