<template src="../includes/meta.html" title="Hello World">
{
  title: '新闻page',
  styles: ['base.css', 'news.css']
}
</template>
</head>
<body>
<div class="container">
  <template src="../includes/header.html" page="news"></template>
  <main class="news">
    <data>
      {
        news: [{title: '第一条新闻 ...'},
        {title: '第二条新闻 ...'},
        {title: '第三条新闻 ...'},
        {title: '第四条新闻 ...'},
        {title: '第五条新闻 ...'}]
      }
    </data>
    {{if news.length > 0}}
    <ul>
      {{each news}}
      <li {{if $index === 0}}class="active"{{/if}}>{{$value.title}}</li>
      {{/each}}
    </ul>
    {{/if}}
  </main>
  <template src="../includes/footer.html" title="Hello World"></template>
</div>
</body>
</html>