*{
	margin: 0; padding: 0;
}

body{
	background-color:#fff;
	color:#333;
	font:12px/1.5 "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1","WenQuanYi Micro Hei", Arial, sans-serif;
}


h1{
	font-size:24px;
	border-bottom: 1px solid #eee;
	margin: 10px;
}
div{
	font-size: 15px;
	margin: 10px;
	border: 1px dashed #eee;
}