html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 16px;
	line-height: 1.6;
	font-family: -apple-system-font, "Helvetica Neue", sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-overflow-scrolling:touch;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a img {
	border: 0;
	-webkit-touch-callout: none; /
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul,ol{list-style: none;}

.g_cell{position: relative;display:-webkit-box;display:-webkit-flex;display:flex;}
.g_cell_bd{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}

.nav{background-color: #fcfcfc; border-bottom: 2px solid #ececec;}
.nav li{line-height: 60px; text-align: center;}
.nav .cur{color: #10AEFF; font-weight: bold;}
.nav .line{position: absolute; top: 60px; left: 0; display: block; width: 50%; height: 2px; font-size: 0; background-color: #10AEFF;}

.content{width: 92%; margin: 0 auto; padding-top: 50px; overflow: hidden; position: relative;}
.form_add, .form_search{width: 100%; position: relative;}
.form_add{display: none;}
.form_group{position: relative;}

.tb{width: 100%; padding: 15px; border: 1px solid #ccc; margin-bottom: 15px; font-size: 16px;}
.btn{width: 100%; padding: 15px 0; color:#333; background-color: #ddd; font-size: 16px; display: block;}
.search__res-list{margin-top: 15px;}

.search_result p{padding-top: 20px; color:#f00;}

.nav .line,.nav li
{transition: all .3s ease-in;}
.form_add, .form_search,
.slideIn
{-webkit-animation:slideIn .3s ease-in both; animation:slideIn .3s ease-in both;}

.slideOut{
	-webkit-animation:slideOut .3s linear both; animation:slideOut .3s linear both;
}


@-webkit-keyframes slideIn {
	from { -webkit-transform: translate3d(100%, 0, 0) }
	to { -webkit-transform: translate3d(0, 0, 0) }
}
@keyframes slideIn {
	from { transform: translate3d(100%, 0, 0) }
	to { transform: translate3d(0, 0, 0) }
}
@-webkit-keyframes slideOut {
	from { -webkit-transform: translate3d(0, 0, 0) }
	to { -webkit-transform: translate3d(-100%, 0, 0) }
}
@keyframes slideOut {
	from { transform: translate3d(0, 0, 0) }
	to { transform: translate3d(-100%, 0, 0) }
}



.completer-container {
  font-family: inherit;
  font-size: 14px;
  line-height: normal;

  position: absolute; top: 0; left: 0;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  border: 1px solid #ccc;
  border-bottom-color: #39f;
  background-color: #fff;
}

.completer-container li {
  overflow: hidden;
  margin: 0;
  padding: .5em .8em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.completer-container .completer-selected,
.completer-container li:hover {
  margin-left: -1px;
  border-left: 1px solid #39f;
  background-color: #eee;
}